.ui-listview-filter{
margin:0px;
margin-top:1px;
margin-bottom:0px;
max-width:100%;
}
#page{
-webkit-transition:padding-top 0.5s;
-moz-transition:padding-top 0.5s;
transition:padding-top 0.5s;
}
.ui-listview-filter{
display:none;
}
#searchmenu{
position:absolute;
bottom:0;
background:#EEEEEE;
z-index:10;
width:100%;
max-height:0px;
overflow:hidden;
-webkit-transition:max-height 0.5s;
-moz-transition:max-height 0.5s;
transition:max-height 0.5s;
}